/aatividade_5
/argv.json
/atividade5_cap7.py
/atividade6_cap5
/atividadecap7ati3.py
/atividade_1
/atividade_3
/atividade_4
/atividade_4 cap7.py
/atividade_tuplas
/cli
/Construtor de Wordlists.py
/epp.py
/extensions
/Sistema de Análise de Nome e Idade
/testes